@import '../styles/base.scss';

.app-heading {
  font-family: $font-family-body;
  color: var(--color-text);
  font-weight: 600;

  &-h1 {
    font-size: 2.1rem;
  }

  &-h2 {
    font-size: 20px;
    font-weight: 600;
  }

  &-h3 {
    font-size: 1.15rem;
  }

  &-h4 {
    font-size: 1rem;
  }

  &-h5 {
    font-size: 0.95rem;
  }

  &-h6 {
    font-size: 0.85rem;
  }
}
