@import '../../styles/base.scss';

.headingText {
  // color: var(--color-primary);
  font-weight: 500;
  margin: 0;
  font-size: 22px;
  text-align: center;
  font-family: $font-family-body;
  letter-spacing: -0.02em;
}
