.search-input {
  line-height: 1.5714285714285714;
  height: 32px;
  padding: 4px 15px;
  border-radius: 6px;

  .search-icon {
    padding-right: 4px;
    color: rgba(0, 0, 0, 0.25);
  }
}

// Dark mode support
[data-theme='dark'] .search-input {
  .search-icon {
    color: rgba(255, 255, 255, 0.45);
  }
}
