@import '../../styles/base.scss';

.user-avatar-gradient {
  border: none;
  background: var(--color-primary);
  color: white !important;
  font-weight: 600 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
