apiVersion: v1
kind: Service
metadata:
  name: lavoro-backend-service
  labels:
    app: lavoro-backend
    component: api
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 80
    targetPort: http
    protocol: TCP
  selector:
    app: lavoro-backend
---
apiVersion: v1
kind: Service
metadata:
  name: lavoro-backend-headless
  labels:
    app: lavoro-backend
    component: api
spec:
  type: ClusterIP
  clusterIP: None
  ports:
  - name: http
    port: 3000
    targetPort: http
    protocol: TCP
  selector:
    app: lavoro-backend
